.about-section {
  height: 100vh;
  min-height: 100% !important;
  background: url(../images/sea.webp);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.section-heading-about-bg {
  background-color: rgba(0, 0, 0, 0.596);
  text-align: end;
}

.section-heading-about {
  font-family: "Slatzone","saira",sans-serif;
  font-size: 5vw;
  text-align: end;
  color: #fff;
  margin: 0;
}

.about-content-container {
  margin: 0 auto;
  font-weight: 700;
  padding: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.img-container {
  padding-left: .4vw;
  padding-top: 1vh;
}

.myImg-about {
  border-radius: 31% 60% 49% 51% / 30% 52% 48% 60%;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  -webkit-box-shadow: rgba(224, 216, 216, 0.3) 4px -10px, rgba(207, 195, 195, 0.2) -6px 8px, rgba(129, 116, 116, 0.2) -5px 12px;
          box-shadow: rgba(224, 216, 216, 0.3) 4px -10px, rgba(207, 195, 195, 0.2) -6px 8px, rgba(129, 116, 116, 0.2) -5px 12px;
  -webkit-filter: grayscale(40%) brightness(80%);
          filter: grayscale(40%) brightness(80%);
  background-color: rgba(255, 255, 255, 0.938);
}

.info-about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: rgba(3, 7, 8, 0.561);
  -webkit-box-shadow: rgba(227, 227, 233, 0.1) 0px 0px 25px;
          box-shadow: rgba(227, 227, 233, 0.1) 0px 0px 25px;
}

.section-title {
  color: #527e7e;
}

.title {
  color: bisque;
}

blockquote {
  border: bisque 1px solid;
  width: 75%;
  margin: 4vh auto;
  -webkit-box-shadow: rgba(227, 227, 233, 0.1) 0px 0px 25px;
          box-shadow: rgba(227, 227, 233, 0.1) 0px 0px 25px;
}

.card-body p {
  text-align: justify;
}

@media screen and (max-width: 374px) {
  .section-heading-about-bg {
    text-align: center;
  }
  .section-heading-about {
    font-size: 4vh;
  }
  blockquote {
    display: none;
  }
  .info-about {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .myImg-about {
    width: 30%;
  }
  figure {
    text-align: center;
  }
  .title {
    margin: 0;
  }
  .card-body p {
    font-size: 3.8vw;
  }
}

@media screen and (min-width: 375px) and (max-width: 424px) {
  .section-heading-about-bg {
    text-align: center;
  }
  .section-heading-about {
    font-size: 8vw;
  }
  blockquote {
    display: none;
  }
  .info-about {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .myImg-about {
    width: 30%;
  }
  figure {
    text-align: center;
  }
  .title {
    margin: 0;
  }
  .card-body p {
    font-size: 3.2vw;
  }
}

@media screen and (min-width: 425px) and (max-width: 767px) {
  .section-title {
    display: none;
  }
  .section-heading-about-bg {
    text-align: center;
  }
  .section-heading-about {
    font-size: 8vw;
  }
  .about-content-container {
    width: 90%;
    height: auto;
  }
  .info-about {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .myImg-about {
    width: 60%;
  }
  .title {
    margin: 0;
  }
  figure {
    text-align: center;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .card-body {
    width: 70%;
  }
}

@media screen and (min-width: 1024px) {
  .about-content-container {
    width: 68%;
  }
  .card-body {
    width: 80%;
    padding-top: 15vh;
  }
}
/*# sourceMappingURL=about.css.map */